<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <title>Climate Music: Ambient music generated using CAIT data</title>
  </head>
  <body>
    <div id="overlay"></div>
    <div id="content">
      <div id="playing"></div>
      <select id="select-country">
      </select>
      <button id="random">random</button>
      <div>
        <p>Climate Music: Ambient music generated using CAIT data</p>
        <a target="_blank" href="https://github.com/apvilkko/climate-music">github/info</a>
      </div>
    </div>
  </body>
</html>
